# ==================================================================================
#                      @ng-doc/ng-doc codeowners
# ==================================================================================
#  More info: https://help.github.com/articles/about-codeowners/

* @skoropadas
# will be requested for review when someone opens a pull request
