{
	"singleQuote": true,
	"trailingComma": "all",
	"tabWidth": 2,
	"endOfLine": "lf",
	"printWidth": 120,
	"semi": true,
	"bracketSpacing": false,
	"jsxBracketSameLine": true,
	"overrides": [
		{
			"files": [
				"*.ts"
			],
			"options": {
				"parser": "typescript"
			}
		},
		{
			"files": [
				"*.ts.nunj"
			],
			"options": {
				"parser": "typescript"
			}
		},
		{
			"files": [
				"*.md.nunj"
			],
			"options": {
				"parser": "markdown"
			}
		},
		{
			"files": [
				"*.md"
			],
			"options": {
				"parser": "markdown",
				"tabWidth": 2
			}
		}
	]
}
