{
	"singleQuote": true,
	"trailingComma": "all",
	"endOfLine": "lf",
	"semi": true,
	"bracketSameLine": true,
	"overrides": [
		{
			"files": [
				"*.ts"
			],
			"options": {
				"parser": "typescript"
			}
		},
		{
			"files": [
				"*.ts.nunj"
			],
			"options": {
				"parser": "typescript"
			}
		}
	]
}
