import {NgDocDependencies} from '@ng-doc/builder';
import {NgDocPageModule} from './ng-doc.module';

const <%= pageName %>Dependencies: NgDocDependencies = {<% if (module) { %>
	module: <%= pageName %>Module,<% } %>
	// Add your demos that you are going to use in the page here
	demo: {},
};

export default <%= pageName %>Dependencies;
