:host {
  &[data-ng-doc-is-landing='true'] {
    --ng-doc-page-max-width: auto;
    --ng-doc-page-padding: 0;
    --ng-doc-main-padding: 0;

    ng-doc-navbar {
      transition: 300ms ease-in-out;

      &:before {
        transition: 300ms ease-in-out;
      }

      &:not(.has-shadow) {
        --ng-doc-navbar-background: transparent;
      }
    }
  }

  .ng-doc-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: calc(var(--ng-doc-base-gutter) * 3);
    color: var(--ng-doc-text-muted);
    font-size: 12px;
  }
}

.brand {
  text-decoration: none;
  color: var(--ng-doc-heading-color);

  h3 {
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 22px;

    .brand-title-ng {
      font-family: var(--ng-doc-font-family);
      font-weight: 400;
    }

    .brand-title-doc {
      font-family: var(--ng-doc-heading-font-family);
      font-weight: 700;
    }
  }

  img {
    height: 36px;
    margin-right: var(--ng-doc-base-gutter);
  }
}

.ng-doc-header-controls {
  display: flex;

  a[ng-doc-button-icon],
  button[ng-doc-button-icon],
  ng-doc-theme-toggle {
    margin-left: calc(var(--ng-doc-base-gutter) * 2);
  }
}

@media screen and (max-width: 600px) {
  .ng-doc-header-controls {
    a[ng-doc-button-icon],
    button[ng-doc-button-icon],
    ng-doc-theme-toggle {
      margin-left: var(--ng-doc-base-gutter);
    }
  }
}
