:host {
	&[data-ng-doc-is-landing='true'] {
		--ng-doc-page-max-width: auto;
		--ng-doc-page-padding: 0;
	}
}

.brand {
	text-decoration: none;
	color: var(--ng-doc-text);

	h3 {
		margin: 0;
		display: flex;
		align-items: center;
	}

	img {
		height: 32px;
		margin-right: var(--ng-doc-base-gutter);
	}
}

.ng-doc-header-controls {
	display: flex;

	a[ng-doc-button-icon],
	button[ng-doc-button-icon],
	ng-doc-theme-toggle {
		margin-left: calc(var(--ng-doc-base-gutter) * 2);
	}
}

@media screen and (max-width: 600px) {
	.ng-doc-header-controls {
		a[ng-doc-button-icon],
		button[ng-doc-button-icon],
		ng-doc-theme-toggle {
			margin-left: var(--ng-doc-base-gutter);
		}
	}
}
