import {NgDocApi} from '@ng-doc/core';

const Api: NgDocApi = {
	title: 'API Reference',
	scopes: [
		// Add the paths to the source code of your project, based on which you want to generate the API here
	],
};

export default Api;
