@import '../../../../../../libs/ui-kit/styles/mixins';

:host {
	section {
		position: relative;

		&.greeting {
			@media (max-width: 1000px) {
				.container {
					flex-direction: column;
					align-items: center;
				}
			}

			p {
				margin-top: calc(var(--ng-doc-base-gutter) * 3);
				--ng-doc-font-size: 22px;
				--ng-doc-line-height: 32px;
			}

			figure {
				width: 100%;
				max-width: 850px;
			}

			.container {
				margin-top: 90px;
				gap: calc(var(--ng-doc-base-gutter) * 7);
			}

			.greeting-content {
				display: flex;
				flex-direction: column;
				width: 100%;
				max-width: 400px;
				margin-top: calc(var(--ng-doc-base-gutter) * 4);

				.greeting-shields {
					display: flex;
					justify-content: center;
					margin-top: 72px;
					flex-wrap: wrap;
					gap: var(--ng-doc-base-gutter);
				}

				.greeting-buttons {
					display: flex;
					justify-content: center;
					margin-top: calc(var(--ng-doc-base-gutter) * 2);

					a {
						--ng-doc-button-padding: var(--ng-doc-base-gutter) calc(var(--ng-doc-base-gutter) * 2);
						--ng-doc-font-size: 22px;
						--ng-doc-line-height: 32px;
						--ng-doc-font-weight: 800;

						background: linear-gradient(-45deg, #ffa63d, #ff3d77, #338aff, #3cf0c5);
						background-size: 600%;
						-webkit-animation: anime 16s linear infinite;
						animation: scale 16s linear infinite;
						box-shadow: 0 0 23px 1px rgba(0, 0, 0, 0.2);
						transition: var(--ng-doc-transition) transform, box-shadow;

						&:hover {
							transform: scale(1.05);
						}

						@keyframes scale {
							0% {
								background-position: 0 50%;
							}

							50% {
								background-position: 100% 50%;
							}

							100% {
								background-position: 0 50%;
							}
						}
					}
				}
			}
		}

		&.try-it {
			h1 {
				margin-bottom: calc(var(--ng-doc-base-gutter) * 4);
			}

			iframe {
				width: 100%;
				height: 600px;
				border: none;
				border-radius: 8px;
				box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
			}
		}
	}

	h1 {
		margin: 0;
	}

	h2 {
		margin: 0;
	}

	.section-container {
		position: relative;
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		padding: 48px 16px 92px;
		max-width: 1340px;

		&.grid {
			display: grid;
			grid-template-columns: repeat(6, 1fr);
			grid-gap: 40px;
		}
	}

	.container {
		display: flex;

		&.row {
			flex-direction: row;
		}

		&.space-between {
			justify-content: space-between;
		}

		&.center {
			justify-content: center;
		}
	}

	.feature-icon {
		--ng-doc-icon-width: 48px;
		--ng-doc-icon-height: 48px;
	}
}

figure {
	margin: 0;
}

video {
	width: 100%;
	background-color: black;
	border-radius: 8px;
	box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.5);
}

img {
	box-shadow: 0 0 23px 1px rgba(0, 0, 0, 0.2);
}
