name: NgDoc Release Libraries

on:
    push:
        branches:
            - release
            - beta
            - "*.x"

jobs:
    lint:
        uses: ./.github/workflows/lint.yml
    tests:
        uses: ./.github/workflows/tests.yml

    release:
        runs-on: ubuntu-latest
        needs: [lint, tests]
        steps:
            -   name: Checkout
                uses: actions/checkout@v2

            -   name: Setup Node.js
                uses: actions/setup-node@v3
                with:
                    cache: npm
                    node-version: 16

            -   name: Install Dependencies
                run: npm ci

            -   name: Build Libraries
                run: npx nx run-many --target=build --projects=app,builder,ui-kit,core

            -   name: Build Libraries
                run: npx semantic-release

            #- run: npx nx workspace-lint
            #- run: npx nx format:check
            #- run: npx nx affected --target=lint --parallel=3
            #- run: npx nx affected --target=test --parallel=3 --ci --code-coverage
