name: Release

on:
    push:
        branches:
            - release
            - beta
            - '*.x'

jobs:
    lint:
        uses: ./.github/workflows/lint.yml
    tests:
        uses: ./.github/workflows/tests.yml

    release:
        runs-on: ubuntu-latest
        needs: [ lint, tests ]
        steps:
            -   name: Checkout
                uses: actions/checkout@v2
                with:
                    fetch-depth: 0
                    token: ${{ secrets.SEMANTIC_RELEASE }}

            -   name: Setup Node.js
                uses: ./.github/actions/nodejs

            -   name: Build Projects
                run: npx nx affected --target=build --configuration=ci --base=origin/main --parallel

            -   name: Uploading Artifacts
                uses: actions/upload-artifact@v3
                with:
                    name: artifacts
                    path: dist/apps/ng-doc

            -   name: Release
                env:
                    GITHUB_TOKEN: ${{ secrets.SEMANTIC_RELEASE }}
                    NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
                run: npx semantic-release
